
.modal-box .delete-btn {
  background: #f87171;
  color: #111827;
}

.modal-box .delete-btn:hover {
  background: #ef4444;
}

.modal-box .cancel-btn {
  background: #d1d5db;
  color: #111827;
}

.modal-box .cancel-btn:hover {
  background: #9ca3af;
}
