body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", sans-serif;
    background: #1f2937;
    color: #f9fafb;
}

.app-container {
    width: 50%;
    margin: 0 auto;
    /* padding: 1rem; */
    place-items: center;
}

h1 {
    text-align: center;
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

.price-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.price-input input {
    width: 80px;
    padding: 0.5rem 0.7rem;
    border-radius: 0.75rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.add-button {
    display: block;
    width: 100%;
    padding: 0.9rem;
    margin: 2rem 0;
    background: #4ade80;
    color: #111827;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
    justify-self: center;
}

.add-button:hover {
    background: #22c55e;
}